In [136]:
import numpy as np
import pandas as pd
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("whitegrid")
%matplotlib inline

In [137]:
globalAA = pd.read_csv('queries_results/clustering/A.csv', header = 0, sep=' *, *')
# globalA["Time"]=pd.to_datetime(globalA['MonthYear'], format='%Y%m').dt.strftime('%Y-%m')
# globalAA
#
globalA = globalAA[['Events','sumNumMentions','materialConfCoop','verbalConfCoop','avgAvgTone','avgGoldstein','fightCount','expressCount']]

<ipython-input-137-1fb1691e9a8e>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  globalAA = pd.read_csv('queries_results/clustering/A.csv', header = 0, sep=' *, *')

In [138]:
points = globalA
points = points.to_numpy()
points

array([[ 7.03800000e+03,  3.46670000e+04,  7.01903950e-02, ...,
         1.47698210e+00,  1.40000000e+02,  7.70000000e+01],
       [ 6.28210000e+04,  3.07088000e+05,  1.21376610e-01, ...,
         1.24050875e+00,  3.45000000e+03,  1.13400000e+03],
       [ 5.31000000e+02,  2.71000000e+03,  4.33145009e-02, ...,
         2.16610169e+00,  1.00000000e+01,  1.00000000e+01],
       ...,
       [ 8.19808000e+05,  3.47227000e+06,  1.57140452e-01, ...,
         3.70861958e-01,  5.77160000e+04,  1.97880000e+04],
       [ 1.88650000e+04,  9.09150000e+04,  2.24118738e-01, ...,
        -3.64373178e-01,  2.95600000e+03,  2.58000000e+02],
       [ 2.61000000e+02,  1.42000000e+03,  5.36398467e-02, ...,
         2.74904215e+00,  2.00000000e+00,  4.00000000e+00]])

### Data standardisation with [StandardScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [139]:
##jeśli dane są w jakiś sposób skorelowane to znaczy, że występuje redundancja danych, te dane nic nowego nie wnoszą
##są niepotrzebne

## if necessary to scale data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_points = scaler.fit_transform(points)

## Find clusters using [kMeans()](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html)

In [151]:
#klasa KMeans z sklearn, konstruktor przyjmuje liczbę klastrów i sposób inicjalizacji centroidów, random_state=1 za
#każdym razem te same punkty startowe
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=20, init='random', random_state=1)
km = kmeans.fit(scaled_points)

In [141]:
#funkcja predict zwaraca etykiety klastru do jakiego został przypisany obiekt
clusters_id = kmeans.predict(scaled_points)
clusters_id

array([19, 31, 20, 30, 11,  7, 33, 17, 33, 41, 10, 20, 49, 24, 24, 23, 21,
       32, 44, 12, 40, 15, 45, 38, 44, 19, 12, 35,  2, 44, 49, 29,  1, 32,
       48, 10, 34, 46, 45, 40,  7,  6, 27,  1, 48, 13,  5,  0, 12, 39, 27,
       31, 38, 47, 36, 22, 43, 12,  1, 10,  8, 46, 12, 28,  6, 14, 30, 21,
       18, 39, 42, 13,  7, 13, 44, 49, 30, 31,  7, 13, 41,  3, 40, 32, 13,
       46,  3,  1,  5, 41, 23, 30, 33, 11,  7, 31, 12, 31, 18, 42, 49, 12,
       21,  7, 14, 46, 41,  7,  1, 11,  2, 45, 30, 46, 32, 37, 46, 44, 45,
       38, 46, 40, 40, 13, 39, 16, 47,  6, 41, 22, 44, 41, 42,  5, 35,  2,
       15,  8,  9, 10, 39, 39, 30, 35, 10,  6, 20,  1, 11, 19, 40, 39, 29,
        0, 38, 18,  5,  5, 41, 45, 47, 15, 18, 25, 40, 33,  4, 19, 49, 39,
       11, 41, 11,  1, 11, 45, 39, 12, 13, 10, 11,  1, 39, 44, 25, 13, 33,
       35, 28, 36, 37, 41, 24, 44, 10, 19, 14, 19, 12, 48,  7, 33, 39, 10,
       32, 22, 29, 15, 11, 39, 20, 17, 30, 48, 41,  9, 26, 29, 44],
      dtype=int32)

In [142]:
cluster_map = pd.DataFrame()
cluster_map['data_index'] = globalAA['Actor1CountryCode']
cluster_map['cluster'] = km.labels_

In [143]:
POL = cluster_map[cluster_map.data_index=='POL'].cluster.iloc[0]
cluster_map[cluster_map.cluster==POL]

    data_index  cluster
4          MWI       11
93         VEN       11
109        GMB       11
148        HTI       11
170        POL       11
172        BOL       11
174        SWE       11
180        CHL       11
208        JOR       11

In [144]:
USA = cluster_map[cluster_map.data_index=='USA'].cluster.iloc[0]
cluster_map[cluster_map.cluster==USA]

    data_index  cluster
216        USA       26

In [150]:
DEU = cluster_map[cluster_map.data_index=='DEU'].cluster.iloc[0]
cluster_map[cluster_map.cluster==DEU]

    data_index  cluster
23         CAN       38
52         CHN       38
119        DEU       38
154        GBR       38

In [146]:
RUS = cluster_map[cluster_map.data_index=='RUS'].cluster.iloc[0]
cluster_map[cluster_map.cluster==RUS]

   data_index  cluster
15        RUS       23
90        AUS       23

In [147]:
UKR = cluster_map[cluster_map.data_index=='UKR'].cluster.iloc[0]
cluster_map[cluster_map.cluster==UKR]

    data_index  cluster
17         BDI       32
33         ISR       32
83         PAK       32
114        NGA       32
204        UKR       32

In [148]:
GBR = cluster_map[cluster_map.data_index=='GBR'].cluster.iloc[0]
cluster_map[cluster_map.cluster==GBR]

    data_index  cluster
23         CAN       38
52         CHN       38
119        DEU       38
154        GBR       38

In [149]:
CHN = cluster_map[cluster_map.data_index=='CHN'].cluster.iloc[0]
cluster_map[cluster_map.cluster==CHN]

    data_index  cluster
23         CAN       38
52         CHN       38
119        DEU       38
154        GBR       38